name: github action for jira
on:
    push:
        branches:
            - master
jobs:
    checkout:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - run: ls
            - run: echo "checkout done"

    jira:
        needs: checkout
        runs-on: ubuntu-latest
        steps:
            - run: |
                echo "${{ secrets.JIRA_TOKEN}}"
    task: 
        needs: jira
        runs-on: ubuntu-latest
        steps:
            - name: create jira issue
              run: |
               curl -X POST \
               -u "${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}" \ 
               -H "Content-Type: application/json" \ 
               ${{ secrets.JIRA_BASE_URL }}/rest/api/3/issue \
               -d '{
                    "fields": {
                    "project": { "key": "'"${{ secrets.JIRA_PROJECT_KEY }}"'" },
                    "summary": "Tarun task created from GitHub Actions",
                    "description": {
                        "type": "doc",
                        "version": 1,
                        "content": [{
                        "type": "paragraph",
                        "content": [{
                            "type": "text",
                            "text": "This Jira task was created automatically by a GitHub Actions pipeline."
                        }]
                        }]
                    },
                    "issuetype": { "name": "Task" }
                    }
                }'