name: github action for jira
on:
    push:
        branches:
            - master
jobs:
    checkout:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - run: ls
            - run: echo "checkout done"
